body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.hero {
    background-image: url("images/strasbourg.jpg");
    background-color: #cccccc;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.visit{
    background-color: #420516;
    width: 250px;
    padding: 7px 14px;
    border-radius: 15px;
}

.enjoy {
    background-color: #7D1935;
    width: 500px;
    padding: 7px 14px;
    border-radius: 15px;
}

.activity-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.activities-container {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4% 4% 0;
    height: 400px;

}
.activities {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    padding: 1%;
    
}

.activity {
    margin: 0 25px;
}

h3 {
    font-size: 26px;
    color: #191919;
}

h4 {
    font-size: 18px;
}

.guide {
    margin-top: 50px;
}

.avatar {
    width: 250px;
    border-radius: 20px;
}

.card {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #EAD3CB;
    color: #191919;
    border-bottom: 6px solid #7D1935;
    border-radius: 20px;
        
}

.card-text {
    padding: 15px;
}

.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom: 6px solid #B42B51;
}

footer {
    background-color: #EAD3CB;
    margin: 100px 0 0;
    padding: 1px;
}

.footer-link {
    color: #7D1935;
    font-weight: bold;
}